<div *ngIf="!game?.Assignments?.length" class="d-flex justify-content-center">
  No Assignments Available
</div>

<div class="row" *ngIf="!IsSelectingUnit()">
  <div class="card" *ngFor="let assignment of game?.Assignments">
    <div class="card-body">
      <h4 class="card-title">
        <i [ngClass]="'fa fa-' + assignment.Icon"></i>
        {{assignment.Title}}
      </h4>

      <h6 class="card-subtitle text-muted">
        <i class="fa fa-stopwatch"></i> {{GetExpirationText(assignment)}}
      </h6>
      <p class="card-text">{{assignment.Description}}</p>
      <p class="card-footer">
        <i class="fa fa-clock"></i> {{assignment.Turns}} {{assignment.Turns == 1 ? "turn" : "turns"}}
      </p>
      <h6 class="card-subtitle text-muted">
        <i class="fa fa-stopwatch"></i> {{GetStatusText(assignment.Status)}}
      </h6>
    </div>
    <div class="card-body" *ngIf="IsAssignmentOpen(assignment)">

      <div *ngFor="let assignmentOption of assignment.Options">
        <a class="btn btn-sm btn-primary"
          (click)="SelectAssignment(assignment, assignmentOption)">{{assignmentOption.Text}}</a>
      </div>
    </div>

  </div>
</div>

<div *ngIf="IsSelectingUnit()">
  <div class="row d-flex justify-content-center">
    <h3>Select a unit to assign:</h3>
  </div>
  <div class="row">
    <div class="card" *ngFor="let unit of GetOpenUnits()">
      <a class="btn btn-secondary" (click)="AssignUnit(unit)">
        <app-unitview [unit]="unit"></app-unitview>
      </a>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <a class="btn btn-danger" (click)="CancelAssignment()">Cancel</a>
  </div>
</div>
