<div class="d-flex justify-content-center">
  <div>
    <div *ngIf="!isLoaded">
      <p class="mx-5">You have inherited Orchid Island, the last basion of a once powerful military force that, long
        ago, saved the world from catastrophe. Your goal is to restore the name and glory of the...</p>
    </div>

    <div class="d-flex justify-content-center">
      <a [routerLink]=""><img alt="Orchid Cavalry Logo" class="img-fluid" src="../assets/logo.png"></a>
    </div>

    <div *ngIf="!isLoaded" class="d-flex justify-content-center">
      <a class="btn btn-dark" (click)="StartGame()">START</a>
    </div>

    <div *ngIf="isLoaded">
      <nav class="navbar navbar-dark bg-dark ">
        <a *ngFor="let route of router.config" class="navbar-brand" [routerLink]="route.path">{{route.path}}</a>
<!--         
        <a class="navbar-brand">Treasury</a>
        <a class="navbar-brand">Factions</a>
        <a class="navbar-brand">History</a>
        <a class="navbar-brand">Achievements</a>
        <a class="navbar-brand">Game Data</a>  -->
      </nav>

      <div class = "jumbotron">
        <router-outlet></router-outlet>
      </div>
      <div *ngIf="isLoaded" class="d-flex justify-content-center">
        <a (click)="NextTurn()" class="btn btn-success">
          Next Turn
        </a>
      </div>

      <a class="btn btn-red" (click)="GenerateRegion()">Generate Region</a>

    </div>
  </div>
</div>
