/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body {
     height: 100%; 
    }

.jumbotron{
    background-color: rgb(237, 244, 253);
    border: 3px;
    border-style: inset;
    border-color: darkslategrey;
    text-align: center;
}
.card{
    margin: 5px;
}